.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.content {
  background: #1a2e45;
  border-radius: .75rem;
  padding: 2rem;
  width: 73.3125rem;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}
